@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-neutral-900;
  border-radius: 16px;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
